[Interface]
# This clients wireguard VPN IP address
Address = {{ wireguard_peer['ip'] }}/32
# This clients private key
PostUp = wg set %i private-key /etc/wireguard/private.key
# Setup this DNS server in /etc/resolv.conf, accessible via the wireguard VPN
{% if wireguard_dns_server_ip is defined %}
dns = {{ wireguard_dns_server_ip }}
{% endif %}

[Peer]
# The wireguard servers public key
PublicKey = {{ wireguard_server_public_key }}
# The wireguard servers IP and port
Endpoint = {{ wireguard_server_public_ip }}:{{ wireguard_server_port }}
# Use keepalive for NAT
PersistentKeepalive = {{ wireguard_client_persistent_keepalive }}

# Use regular VPN functionality
{% if wireguard_server_route_to_subnets is defined %}
AllowedIPs = {{ wireguard_subnet }}, {{ wireguard_server_route_to_subnets }}
{% else %}
AllowedIPs = {{ wireguard_subnet }}
{% endif %}
# Forward all traffic through the wireguard server
#AllowedIPs = 0.0.0.0/0, ::/0
