# Wireguard client configuration file
#
# Read this file carefully and edit the EDITME lines



[Interface]
# This clients private key - EDITME
PostUp      = wg set %i private-key /etc/wireguard/private.key

# This clients wireguard VPN IP address
Address     = {{ wireguard_peer['ip'] }}/32
DNS         = {{ wireguard_dns_server_ip }}


[Peer]
# Access to the company wireguard network only - EDITME
{% if wireguard_server_route_to_subnets is defined %}
AllowedIPs  = {{ wireguard_subnet }}, {{ wireguard_server_route_to_subnets }}
{% else %}
AllowedIPs  = {{ wireguard_subnet }}
{% endif %}
# Access all of the internet over the company wireguard server - EDITME
#AllowedIPs = 0.0.0.0/0,::0/0

# Select a wireguard server (if one is down then select the other one) - EDITME
{% for wireguard_server in wireguard_servers %}
# Wireguard server {{ wireguard_server }}
#PublicKey  = {{ hostvars[wireguard_server]['wireguard_server_public_key'] }}
#Endpoint   = {{ hostvars[wireguard_server]['nic_pub_ip'] }}:{{ wireguard_server_port }}
{% endfor %}

# Keepalive setting
PersistentKeepalive = {{ wireguard_client_persistent_keepalive }}
